<div class="about">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae illo blanditiis repellendus ullam facere odit quod in sequi sint aliquid dolorem dolorum, autem, ad, sapiente numquam debitis animi tempora voluptas.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptas illo aliquid odit, fugit ex perspiciatis. Exercitationem officiis explicabo similique expedita laborum, ratione dolores excepturi aliquid tempore adipisci. Omnis, ex!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, molestias totam blanditiis dicta eligendi et in sequi, ducimus hic quae porro repudiandae, aliquam unde quo iste saepe! Unde, consequuntur inventore!
    </p>
</div>


