
.tableData{
    text-align:center;

}
tr:nth-child(even) {
    background-color: #ebebb8f1;
  }

 tr:nth-child(odd) {
    background-color: #99997e;
  }
 

  tr  {
    width: 100%;
    border: 1px solid #585151;
}

table {
    width: 100%;
    
}

td  {
    border: 1px solid #585151; 
    width: 25%;
    margin-left: 4px;
   
}

.singleRow {
    width: 100%;
    display:flex;
    
}

